 #frame { color:#000000;font-size:30px; text-align :center;} 
            a {text-decoration:none;}
            body {
                  background: linear-gradient(to bottom left, #ffbb00 0%, #23ff83 100%);
                  line-height: 0.8;
                  align-content:center;
                  font-family:"Didact Gothic";
                  background-attachment:fixed;
            }
            .t1:hover,.t2:hover,.t3:hover,.t4:hover,.t5:hover,.t6:hover,.t7:hover,.t8:hover,.t9:hover,.t10:hover,.t11:hover,.t12:hover,.t13:hover,.t14:hover{
                animation: hoverr 300ms linear infinite;           
            }
            @keyframes hoverr{
                to{
                transform:translateY(2px);
                }
            }
            #btn1:hover , .fa-facebook:hover , .fa-twitter:hover , .fa-instagram:hover{
                    background-color: #ffffff;
                    color: rgb(0, 0, 0);
                    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.8);
                                                      }
                
            #div0:hover , #div1:hover , #div2:hover{
                    text-shadow: 2px 2px 2px 2px #705546;
                color: #d8cba6;}
            #btn1{
                  color :rgb(255, 255, 255);
                  background-color: #000000;
                  border: 2px solid rgb(118, 192, 221);
                   /* White text */
                  padding: 20px 30px; 
                  font-size: 25px; 
                  border-radius: 8px;
                  padding-left: 200px;
                  padding-right: 200px;
            }
            .vis{
                color: green;
            }
            .fa{
                height: 40px;
                width: 40px;
                background: #ffffff;
                border-radius: 50%;
                margin-top: 20px;
                border-left:none;
                padding:20px;
                border-top: 3px solid rgb(0, 0, 0);
                }
            .fa:hover{
                height: 40px;
                width: 40px;
                background: rgb(255, 255, 255);
                border-radius: 50%;
                border-top: 2px solid #81d7e2;
                border-right: 2px solid transparent;
                border-bottom:none;
                border-left:none;
                animation: spinner5 700ms linear infinite;
                padding: 19px;
                color: black;
                }

            @keyframes spinner5 {
                    to {
                    transform: rotate(360deg);
                    }
                }
            
            .fa-facebook {
                        background: #000000;
                        color: white;
                         }

            .fa-twitter {
                         background: #000000;
                            color: white;
                        }

            .fa-google {
                         background:#000000;
                         color: white;
                        }

             .fa-instagram {
                        background: #000000;
                          color: white;
                        }
            
            #career{font-family:"Caveat Brush";}
            #white {color:lavender;}
            .blue {color:midnightblue;}
            .pur{color: purple;}
        