 #frame { color:#0f554d;font-size:30px; text-align :center;} 
            a {text-decoration:none;}
            body {
                  background: linear-gradient(to bottom left, #d8cba6 0%, #729280 100%);
                  line-height: 0.8;
                  align-content:center;
                  font-family:"Didact Gothic";
                  background-attachment:fixed;
            }
            #btn1:hover , .fa-facebook:hover , .fa-twitter:hover , .fa-instagram:hover{
                    background-color: #e8eeef;
                    color: black;
                    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.8);
                                                      }
                
            #div0:hover , #div1:hover , #div2:hover{
                    text-shadow: 2px 2px 2px 2px #705546;
                color: #d8cba6;}
            #btn1{
                  color :white;
                  background-color: #0f554d;
                  border: 2px solid white;
                   /* White text */
                  padding: 20px 30px; 
                  font-size: 25px; 
                  border-radius: 8px;
                  padding-left: 200px;
                  padding-right: 200px;
            }
            
            .fa{
                height: 40px;
                width: 40px;
                background: #0f554d;
                border-radius: 50%;
                margin-top: 20px;
                border-left:none;
                padding:20px;
                border-top: 3px solid white;
                }
            .fa:hover{
                height: 40px;
                width: 40px;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 50%;
                border-top: 2px solid #011113;
                border-right: 2px solid transparent;
                border-bottom:none;
                border-left:none;
                animation: spinner5 700ms linear infinite;
                padding: 19px;
                }

            @keyframes spinner5 {
                    to {
                    transform: rotate(360deg);
                    }
                }
            
            .fa-facebook {
                        background: #0f554d;
                        color: white;
                         }

            .fa-twitter {
                         background: #0f554d;
                            color: white;
                        }

            .fa-google {
                         background:#0f554d;
                         color: white;
                        }

             .fa-instagram {
                        background: #0f554d;
                          color: white;
                        }
            h {color:green;}
            #career{font-family:"Caveat Brush";}
            #white {color:lavender;}
            .blue {color:midnightblue;}
        